BASE_API_BINANCE=
BASE_API_WEBSOCKET_BINANCE=
BINANCE_API_KEY=
BINANCE_SECRET_KEY=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=